:root {
    --theme-color: rgb(237, 103, 46);
    --background-color-light: rgb(252, 251, 250);
    --background-color-dark: rgb(29, 28, 27);
    --background-color: var(--background-color-light);
    --foreground-color-light: rgb(255, 254, 253);
    --foreground-color-dark: rgb(32, 31, 30);
    --foreground-color: var(--foreground-color-light);
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--theme-color);
    background-color: var(--background-color);
}

.header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding: 24px 0 12px;
    margin: 0;
    position: sticky;
    top: 0;
    background-color: var(--foreground-color);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.dark-mode-btn {
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
}

.icon-btn {
    background: none;
    border: none;
    color: var(--theme-color);
    outline: none;
    cursor: pointer;
    user-select: none;
}

.icon-btn > i {
	font-size: 1.6rem;
}

.center-column {
	display: flex;
	flex-direction: column;
	width: 170px;
}

.header .title {
	user-select: none;
    -webkit-text-stroke: 1px;
}

.today {
    text-transform: lowercase;
    font-size: 1rem;
}

.restaurants {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 64px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--foreground-color);
    margin: 0 16px 32px;
    padding: 24px;
    border-radius: 12px;
    width: calc(25vw - 115px);
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.restaurant > .name {
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 16px;
    font-size: 1.4rem;
}

.dish {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 12px;
    text-align: center;
}

.dish > .name {
    margin-bottom: 2px;
}

.dish > .info {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 2px;
}

@media screen and (max-width: 1200px) {
	.restaurants {
		margin: 32px;
	}

	.restaurant {
		width: calc(50vw - 118px);
	}
}

@media screen and (max-width: 600px) {
	::-webkit-scrollbar {
		display: none;
	}

	.restaurants {
	    margin: 32px 8px;
	}

	.restaurant {
	    width: 100vw;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--theme-color);
}

